<div class="float-container">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 play-title"><span>Yanase Takashi Game</span></div>
      </div>
      <div class="row">
          <div class="col-xl-12 play-desc"><span>Convert "Yanase" to "Takashi" in your best speed and accuracy!</span></div>
      </div>
      <div class="row">
          <div class="col-xl-12 button-container"><button class="btn btn-primary" type="button">Start</button></div>
      </div>
  </div>  
</div>
