<div class="float-container">
  <div class="collapse show collapse-after-result collapse-after-start" id="game-title">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 play-title"><span>Yanase Takashi Game</span></div>
        </div>
        <div class="row">
            <div class="col-xl-12 play-desc"><span>Convert "Yanase" to "Takashi" in your best speed and accuracy!</span></div>
        </div>
        <div class="row">
            <div class="col-xl-12 button-container">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse-after-start" aria-expanded="false" (click)="onStartClick()">Start</button>
            </div>
        </div>
    </div>      
  </div>
  <div class="collapse collapse-after-start collapse-after-quiz" id="game-quiz">
    <div class="container" [hidden]="currentQuestionIndex>=numberOfQuestions">
        <div class="row" style="font-size: 28px;text-align: right;">
            <div class="col">
                <span>Time: 00:12.34</span>
            </div>
        </div>
        <div class="row" style="font-size: 64px;text-align: center;">
            <div class="col">
                <span style="margin-right: 10px;">Q{{currentQuestionIndex}}.&nbsp;</span>
                <span>{{currentQuestion}}</span>
            </div>
        </div>
        <div class="row" style="font-size: 34px;text-align: center;">
            <div class="col-xl-12">
                <span style="margin-right: 10px;">A{{currentQuestionIndex}}.&nbsp;</span>
                <input type="text" style="height: 70%;width: 200px;">
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <button *ngIf="currentQuestionIndex<numberOfQuestions-1" class="btn btn-primary" type="button" style="margin-left: 10px;" (click)="onNextQuestionClick()">Next</button>
                <button *ngIf="currentQuestionIndex>=numberOfQuestions-1" class="btn btn-primary" type="button" style="margin-left: 10px;" data-toggle="collapse" data-target=".collapse-after-quiz" aria-expanded="false" (click)="onNextQuestionClick()">Next</button>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col" style="margin-top: 100px;">
                <span>Answer the question</span>
            </div>
        </div>
    </div>
  </div>
  <div class="collapse collapse-after-quiz collapse-after-result" id="game-result">
    <div class="container">
        <div class="row" style="font-size: 28px;">
            <div class="col"><span>Result</span></div>
        </div>
        <div class="row">
            <div class="col"><span>Let's look back your YanaTaka result...</span></div>
        </div>
        <div class="row" style="font-size: 34px;text-align: center;/*padding-left: 300px;*//*padding-right: 300px;*/">
            <div class="col"><span>10</span></div>
            <div class="col" style="color: green;"><i class="fa fa-star fa-check" style="margin-right: 5px;"></i><span>8</span></div>
            <div class="col" style="color: red;"><i class="fa fa-star fa-times" style="margin-right: 5px;"></i><span>2</span></div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col"><span>Questions</span></div>
            <div class="col"><span>Correct answers</span></div>
            <div class="col"><span>Wrong answers</span></div>
        </div>
        <div class="row" style="font-size: 34px;text-align: center;">
            <div class="col-xl-12"><span style="margin-right: 10px;">Your Score: 80.00 %</span></div>
        </div>
        <div class="row" style="padding-left: 15px;padding-right: 15px;margin-top: 20px;">
            <div class="col">
                <div class="row" style="text-align: center;/*border: solid 1px;*/">
                    <div class="col" style="border: 1px solid;"><span>Question</span></div>
                    <div class="col" style="border: 1px solid;"><span>Correct answer</span></div>
                    <div class="col" style="border: 1px solid;"><span>Your answer</span></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col" style="border: 1px solid;"><span>Q1.&nbsp;</span><span>やﾅせかｼた</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: green;">せ</span><span>か</span><span>ｼ</span><span>た</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: red;">し</span><span>か</span><span>ｼ</span><span>た</span></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col" style="border: 1px solid;"><span>Q1.&nbsp;</span><span>やﾅせかｼた</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: green;">せ</span><span>か</span><span>ｼ</span><span>た</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: red;">し</span><span>か</span><span>ｼ</span><span>た</span></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col" style="border: 1px solid;"><span>Q1.&nbsp;</span><span>やﾅせかｼた</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: green;">せ</span><span>か</span><span>ｼ</span><span>た</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: red;">し</span><span>か</span><span>ｼ</span><span>た</span></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col" style="border: 1px solid;"><span>Q1.&nbsp;</span><span>やﾅせかｼた</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: green;">せ</span><span>か</span><span>ｼ</span><span>た</span></div>
                    <div class="col" style="border: 1px solid;"><span>た</span><span>ｶ</span><span style="color: red;">し</span><span>か</span><span>ｼ</span><span>た</span></div>
                </div>
            </div>
        </div>
        <div style="text-align: center;position: absolute;width: 95%;top: 90%;">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse-after-result" aria-expanded="false">OK</button>
        </div>
    </div>
  </div>
</div>